.venv
venv
env
__pycache__
**/__pycache__
*.py[codz]
*.pyc

.git
.gitignore
.idea
.vscode

.env
.env.*
!.env.example

logs
logs/*
data
data/*
chroma_db
chroma_db/*

resources/sample
documents

tests
*.md
!README.md

.dockerignore
Dockerfile
docker-compose*.yml
